extends ../layouts/common 
block headContent
block navbar
  h1 Create new user
  if errors
    each error in errors
        .alert.alert-danger= error
  form.mt-4(action="/auth/resign", method="POST")
     .from-group
        
        div
          label(for="nameUser") Name
          input#nameUser.form-control(type="text",name='name')
        div
          label(for="email") email
          input#email.form-control(type="email",name='email')
        div
          label(for="password") password
          input.form-control(type="password",name='password') 
        
        div
          button.btn.btn-primary.ml-4 make
          