extends ../layouts/userOnly 
block headContent
block navbar
  h1 Book List
    table.table
      tr
        th Title
        th ID
        th Description
        th Action
      each book in list
        tr
          td= book.title 
          td= book.id 
          td
            a.btn.btn-primary(data-toggle="collapse" href="#"+ book.id, role="button" aria-expanded="false" aria-controls="collapseExample") description
            div(class="collapse" id= book.id)
              div(class="card card-body")= book.description
          td
            a(href="/" + book.id) view