extends ./layouts/common 
block headContent
block navbar
 
  h1 Book List
  table.table
    tr
      th Title
      th ID
      th Description
      th Action
    each book in list
      tr
        td= book.title 
        td= book.id 
        td= book.description
        td
          a(href="/" + book.id) view
        td
          a(href="/" + book.id + "/delete") delete
        
            
              
            
          
            
  
  .container.d-flex
    form(action="/" method="POST")
      .form-group
          div
            h2 Create Book
          div
            label(for="asd") Title
            input.form-control#asd(type="text" name="title" required="required")
            
          div 
            label(for="description") Description
            input.form-control#description(type="text" name="description" required="required")
            
          div  
          button.btn.btn-primary(type="submit") Create
    
    form.ml-4(action="/update" method="POST")
      .form-group
          div
            h2 Update Title
          div
            label(for="id") ID
            input#id.form-control(type="text" name="id" required="required")

          div 
            label(for="abc") New Title
            input#abc.form-control(type="text" name="title" required="required")

          div  
          button.btn.btn-primary(type="submit") Update
        

  a(href="/" class="btn btn-primary" role="button") Menu List

    