extends ./layouts/common 
block headContent
block navbar
 
  h1 Book List
  .container.d-flex
    form(action="/" method="POST")
      .form-group
          div
            h2 Create Book
          div
            label(for="asd") Title
            input.form-control#asd(type="text" name="title" required="required")
            
          div 
            label(for="description") Description
            input.form-control#description(type="text" name="description" required="required")
            
          div  
          button.btn.btn-primary(type="submit") Create
    
    form.ml-4(action="/update" method="POST")
      .form-group
          div
            h2 Update Title
          div
            label(for="id") ID
            input#id.form-control(type="text" name="id" required="required")

          div 
            label(for="abc") New Title
            input#abc.form-control(type="text" name="title" required="required")

          div  
          button.btn.btn-primary(type="submit") Update
  table.table
    tr
      th Title
      th ID
      th Description
      th Action
    each book in list
      tr
        td= book.title 
        td= book.id 
        td
          a.btn.btn-primary(data-toggle="collapse" href="#"+ book.id, role="button" aria-expanded="false" aria-controls="collapseExample") description
          div(class="collapse" id= book.id)
            div(class="card card-body")= book.description
        td
          a(href="/" + book.id) view
        td
          a(href="/" + book.id + "/delete") delete
  .nav(aria-label="Page navigation example")
      - var previous = page - 1
      - var next = page + 1
      - var window = 5
      - var maxleft = (page - Math.floor(window / 2))
      - var maxRight = (page + Math.floor(window / 2))
      
      if(maxleft < 1) 
        - maxleft = 1
        - maxRight = window
      
      if(maxRight > maxPage)
        - maxleft = (maxPage - (window - 1))
        - maxRight = maxPage
        if(maxleft < 1) 
          - maxleft = 1
          
      ul.pagination.justify-content-center
        - var currPage = maxleft
        if(page > 1)
          li.page-item
            a.page-link(href='/book?page='+ previous) <<
        while currPage <= maxRight
          li.page-item
            a.page-link(href='/book?page='+ currPage)= currPage
            - currPage = currPage + 1 
        if(next <= maxPage)
          li.page-item
            a.page-link(href='/book?page='+ next) >>
        
            
              
            
          
            
  
  
        

  a(href="/" class="btn btn-primary" role="button") Menu List

    