h1 book list

each book in list
        ul
          li
           span Title:&nbsp
           = book.title 
          
           span &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
           a(href="/" + book.id) view 
          li
           span ID:&nbsp
           = book.id
           div
           a(href="/" + book.id + "/delete") delete
          
            
          
         
          
h2 Create Book
form(action="/" method="POST")
      div
        input(type="text" name="title" required="required")
        label(for="tittle") Title
      div 
        input(type="text" name="description" required="required")
        label(for="tittle") Description
      div  
       button(type="submit") Create
h2 Update Title
form(action="/update" method="POST")
      div
        input(type="text" name="id" required="required")
        label(for="update") ID
      div 
        input(type="text" name="title" required="required")
        label(for="update") New Title
      div  
       button(type="submit") Update
       

a(href="/") BACK HOME
   