extends ./layouts/common 
block headContent
 img(src="https://cdn.glitch.com/dbad48f6-8b24-492c-a2fc-fbb1098679c3%2Ffavicon-96x96.png?1597464662191")
 div(class="dropdown")
  button(class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Menu List
  div(class="dropdown-menu" aria-labelledby="dropdownMenuButton")
    a(class="dropdown-item" href="/users/index"  ) User List
    a( class="dropdown-item" href="/book") Book List
    a(class="dropdown-item" href="/transaction/index") Rental List
      //-  block footer
 
 
