h1(style='text-align:center') HOME

div(style="display:flex;width:100%")
 div(style="width:50%;text-align:center")
  a(href="/users/index" style="font-size:30px") USER
 div(style="width:50%;text-align:center")
  a(href="/book" style="font-size:30px") BOOK
a(href="/transaction/index") rental list
 
 

