extends ./layouts/common 
block headContent
 div(class="dropdown")
  button(class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Menu List
    div(class="dropdown-menu" aria-labelledby="dropdownMenu2")
      button(class="dropdown-item" type="button")
        a(href="/users/index",class="dropdown-item" ) User List
      button(class="dropdown-item" type="button")
        a(href="/book", class="dropdown-item" ) Book List
      button(class="dropdown-item" type="button")
        a(href="/transaction/index", class="dropdown-item" ) Rental List
 

