extends ./layouts/common 
block headContent
 div(class="dropdown")
  button(class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Menu List
  div(class="dropdown-menu" aria-labelledby="dropdownMenuButton")
    a(class="dropdown-item" href="/users/index"  ) User List
    a( class="dropdown-item" href="/book") Book List
    a(class="dropdown-item" href="/transaction/index") Rental List
      //-  block footer
 
 
