extends ./layouts/common 
block headContent
block navbar
    h1(style="text-align:center") 's Book 
    p 
    b description &nbsp&nbsp&nbsp 
    span
    
    // bên này đang lỗi gì hả bạn , không ạ? bình thường đó ạ.
    // hoh mình thấy log nó báo lỗi bên này 
    // list undefined kìa
    //kiểu nó không tìm đc trang nào thì nó lại nhảy về trang này đấy ạ..mấy lần trước em làm trang 
    // views khác lỗi... nó auto về trang này nên mới undefined ạ