h1 create


form(action="/transaction/create", method="POST")
  div
    select(name= "bookid")
      each val in listBook
       option(value=val.title)= val.title

  
  div
    select(name= "userid")
      each user in listUser
       option(value=user.name)= user.name
  button(type="submit") Gửi