h1 create

form(action="/users/index", method="POST")
  form
    select
      each val in listBook
       option(value=val.title name="userName")= val.title

  
  form
    select
      each user in listUser
       option(value=user.name name="bookName")= user.name
  button(type="submit") make