extends ../layouts/common 
block headContent
block navbar
  h1 create
  if errors
      each error in errors
          .alert.alert-danger= error
  form(action="/transaction/create", method="POST")
    .form-group.d-flex
      div
        select.form-control(name= "bookId")
          each val in listBook
            option(value=val.title)= val.title

    
      div
        select.form-control(name= "userId")
          each user in listUser
            option(value=user.name)= user.name
      div
        select.form-control(name="status")
          option(value= "rented") rented
    button.btn.btn-primary(type="submit") Gửi