h1 create

form(action="/users/index", method="POST")
  form
    select
      each val in listBook
       option(value=val.title)= val.title

  
  form
    select
      each user in listUser
       option(value=user.name)= user.name
  button(type="submit") make