extends ../layouts/common 
block headContent
block navbar
  h1 create

  form(action="/transaction/create", method="POST")
    .form-group.d-flex
      div
        select.form-control(name= "bookId")
          each val in listBook
            option(value=val.title)= val.title

    
      div
        label(for="email") email
          input#email.form-control(type="email",name='email')
      div
        select.form-control(name="status")
          each user in listUser
            option(value= user.id)= user.id
         
    button.btn.btn-primary(type="submit") Gửi