extends ../layouts/common 
block headContent
block navbar
   h1 List Transactions

   a(href="/transaction/create") Create New Transactions
   table.table
     tr
       th User
       th Book
       th ID rental
       th Status
       th Action
       tr
         each item in rentalList
            tr
               td
                  span Name:&nbsp
                  = item.userId
               td
                  span id:&nbsp
                  = item.id
               td
                  span Book:&nbsp
                  = item.bookId 
               td 
                  span Status:&nbsp
                  = item.status
               td  
                 a(href="/transaction/" + item.id) change status 
   a(href="/" class="btn btn-primary" role="button") Menu List        
          
           
          
            
          