h1 List Transactions

a(href="/transaction/create") Create New Transactions

each item in rentalList
        ul
          li
             span Name:&nbsp
             = item.userId
          li
           span Book:&nbsp
           = item.bookId 
          
           span &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
           
          
           
          
            
          