h1 List Transactions

a(href="/transaction/create") Create New Transactions
table
    tr
        th TransactionID
        th UserName
        th Book Title
        
    each transaction in transactions
        tr
                td= transaction.id
                td
                    each user in users
                      if user.id == transaction.userId
                        span= user.name
                td 
                    each book in books
                      if book.id == transaction.bookId
                        span= book.title