extends ../layouts/common 
block headContent
block navbar
   h1 List Transactions

   a.btn.btn-primary(href="/transaction/create") Create New Transactions
   table.table
     tr
       th User
       th Book
       th ID rental
       th Status
       th Action
       tr
         each item in rentalList
            tr
               td= item.userId
               td= item.bookId 
               td= item.id
               td= item.status
               td  
                 a(href="/transaction/" + item.id) change status 
   a(href="/" class="btn btn-primary" role="button") Menu List        
          
           
          
            
          