extends ../layouts/common 
block headContent
block navbar
  h1 status of rental list 

  h1 Name of Book : #{rentalList.bookId}
  h1 Name of User : #{rentalList.userId}



  form(action="/transaction/update" method="POST")
    .form-group.d-flex
        div
          label(for="update" value=rentalList.id) ID
          input#update.form-control(type="text" name="id" value= rentalList.id)
          
        div.form-control
          select(name="status" )
            option(value= "isComplete") isComplete
        div  
        button(type="submit") Update
  
  
  a.btn.btn-primary(href="/transaction/index") RENTAL LIST


