h1 status of rental list

.bookName Name of book: #{rentalList.bookId}
.userName Name of user: #{ rentalList.userId}

.status-of-rental 
 p status:
 input(type="radio" id="return" name="status" value="returned" )
 lable(for="return") Returned
 span &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
 input(type="radio" id="renting" name="status" value="renting")
 lable(for="renting") Renting
 br 
 br
 br
 
 
a(href="/transaction/index") RENTAL LIST


