extends ../layouts/common 
block headContent
block navbar
  h1 Create new user
  if errors
    each error in errors
        .alert.alert-danger= error
  form.mt-4(action="/users/index", method="POST")
     .from-group.d-flex
        
        div
          label(for="nameUser") Name
          input#nameUser.form-control(type="text",name='name')
        div
          label(for="email") email
          input#email.form-control(type="email",name='email')
          input.form-control(type="password",name='password',style='display:none', value='123123') 
        div
        label isAdmin
          select.form-control(name="isAdmin")
              option(value= true) True
              option(value= false) False
        div
          button.btn.btn-primary.ml-4 make
        