extends ../layouts/common 
block headContent
block navbar

  h1 user
    if errors
      each error in errors
          .alert.alert-danger= error

  form(action="/users/index", method="POST")
   .from-group.d-flex
      label(for="nameUser") Name
      div
        input#nameUser.form-control(type="text",name='name')
      div
        button.btn.btn-primary.ml-4 make
  table.table
    tr
      th Name
      th ID
      th Action
    each user in userList
      tr
        td= user.name
        td= user.id
        td
          a(href="/users/" + user.id) view 
        td
          a(href="/users/index/" + user.id+"/delete") delete
    
  
    
  
   
   

  a(href="/" class="btn btn-primary" role="button") Menu List
   
   
   
   
          