h1 user

form(action="/" method="POST")
      
      div 
        input(type="text" name="name" required="required")
        label(for="user") New User
      div  
       button(type="submit") Create
ul 
 each user in userList
  li
   span= user.name